{% extends 'LabFormtestBundle::layout.html.twig' %}

{% block body %}

    <h2>Symfony 2 form service</h2>
    <small>To use the Symfony 2 form factory to create the form in the service container, add the following to your services config file.</small>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}

{% endblock %}
