{% extends 'base.html.twig' %}

{% block body %}
	<div class="page-header">
		<h1>Symfony 2 form service</h1>
	</div>
    <small>To use the Symfony 2 form factory to create the form in the service container, add the following to your services config file.</small>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}

{% endblock %}
